/* .app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
} */

input[type='text'],
input[type='password'] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type='submit'] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type='submit']:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  margin: 10px auto;
  padding: 10px;
  width: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  width: 188px;
  text-align: center;
  margin: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.login-wrapper {
  margin: 0px 14%;
  padding: 10px;
}

.login-agreement > div {
  float: left;
  margin-left: 20px;
}

.user-list {
  margin: 5px;
  padding: 10px;
  color: white;
  list-style: none;
}

.log-out {
  display: inline-block;
  float: right;
  margin: 2%;
  color: blue;
  cursor: pointer;
}

.buttn-enabled {
  background: #3737b6;
  border: none;
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin: 10px;
  border-radius: 8px;
}

.buttn-disabled {
  background: #cfcfe4;
  border: none;
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin: 10px;
  border-radius: 8px;
}
